<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- title of webpage -->
    <title> Bookflix </title>

    <!-- webpage tab icon -->
    <link rel="icon" type="image/png" href="/public/images/icons/tab-icon.png">

    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="/public/css/style1.css">
    <link rel="stylesheet" type="text/css" href="/public/css/hover-effects.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style2.css">
    <link rel="stylesheet" type="text/css" href="/public/css/register.css">
    <link rel="stylesheet" type="text/css" href="/public/css/delete-confirmation.css">

    <!-- Font Awesome icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body class="main-body">
    <!-- navigation bar (partials) -->
    {{> topbar user=user_info cart_items=cart tPrice=totalPrice}}
    <!-- left menu (genre buttons and filter) -->
    {{> leftbar}}
    <!-- main page contents -->
    <div id="page-contents">
        <div class="h-spacer"></div>
        {{#if displayname}}
            <div class="noselect" id="page-title">
                <img id="nav-icon" src="/public/images/icons/title-icon.png" width="96px" height="96px" style="margin-top: -2px">
                Bookflix
            </div>
            
            <div id="notice">
                Registration successful! Welcome {{displayname}}, you may now login.
            </div>
            
            <a href="/" style="text-decoration: none">
                <div id="home-button" class="clickable noselect">Return to main page</div>
            </a>
        {{else}}
            <div id="reg-box">
                <div class="title-break"> Account Registration </div>
                <div style="text-align: center">Note: Profile picture is optional</div>
                <form method="POST" action="/register" id="registration" name="registration" autocomplete="off" enctype="multipart/form-data">
                    <label for="profilepic">Profile Picture</label>
                    <input type="file" id="profilepic" name="profilepic" accept="image/*"> 
                    <p> <!-- blank for spacing --> </p>
                
                    <label for="fName">First Name</label>
                    <input type="text" id="fName" name="fName" value="{{fName}}">
                    <p id="fNameError" style="color: rgb(228, 61, 61)"> {{fNameError}} </p>
                
                    <label for="lName">Last Name</label>
                    <input type="text" id="lName" name="lName" value="{{lName}}">
                    <p id="lNameError" style="color: rgb(228, 61, 61)"> {{lNameError}} </p>
                
                    <label for="bDate">Date of Birth</label>
                    <input type="date" id="bDate" name="bDate" max="2007-12-31" style="font-family: 'Bebas Neue'" value="{{bDate}}">
                    <p id="bDateError" style="color: rgb(228, 61, 61)"> {{bDateError}} </p>

                    <label for="uName">Username</label>
                    <input type="text" id="uName" name="uName" value="{{uName}}">
                    <p id="uNameError" style="color: rgb(228, 61, 61)"> {{uNameError}} </p>
                    
                    <label for="pWord">Password</label>
                    <input type="password" id="pWord" name="pWord" value="{{pWord}}">
                    <p id="pWordError" style="color: rgb(228, 61, 61)"> {{pWordError}} </p>
                    
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" value="{{email}}">
                    <p id="emailError" style="color: rgb(228, 61, 61)"> {{emailError}} </p>

                    <div style="text-align: center">
                        <button id="submit" type="submit" class="clickable" style="width: 64px"> SUBMIT </button>
                    </div>
                </form>
            </div>
        {{/if}}
    </div>

    <!-- external javascript -->
    <script type="text/javascript" src="/public/js/script.js"></script>
    <script type="text/javascript" src="/public/js/register.js"></script>
    <!-- internal javascript --> 
    <script type="text/javascript">
        $(document).ready(function () {
            // set default date value 
            $("#bDate").val("2007-01-01");
        });
    </script>
</body>

</html>